body{
    margin: 0;
}
.parent {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center; 
}
/* .main{
    width: 61%;
    height: 98vh;
    background-color: red;
} */

.child {
    background: linear-gradient(#1E99C2 -20%,#9A33C2);
    height: 97vh;
    width: 60%;
    border-radius: 40px;
    /* padding: 40px; */
}
@media  screen and (max-width:768px) {
    .child{
        width: 100%;
    }
}
.name {
    height: 4vh;
    width: 95%;
    /* border: 1px solid black; */
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
}

.name_1 {
    height: 100%;
    width: 40%;
    /* border: 1px solid black; */
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    color: whitesmoke;
    font-size: 18px;
}

.name_2 {
    height: 100%;
    width: 40%;
    /* border: 1px solid black; */
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    height: 80%;
    width: 100%;
    /* border-radius: 40px; */
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border-bottom: 1px solid black;
}
input:focus::placeholder{
     color: transparent;
     background-color: blue;
}
@media screen and (max-width:600px){
    .name_1{
        font-size: 10px;
    }
    .name2 span{
        font-size: 10px;
    }
}
.name_2 span{
    color: whitesmoke;
}
.ceritifi{
    height: 5vh;
    width: 95%;
    /* border: 1px solid black; */
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
    margin-bottom: 20px;
}

.certifi_1 {
    height: 100%;
    width: 40%;
    /* border: 1px solid black; */
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    color: whitesmoke;
    font-size: 18px;
}

.certifi_2 {
    height: 100%;
    width: 40%;
    /* border: 1px solid black; */
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
table, th, td {
    border: 1px solid white; 
    border-collapse: collapse;
}
table{
    height: 15%;
    width: 100%;
}
.td{
    height: 100%;
    width: 98%;
    /* border-radius: 40px; */
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
input:focus{
    background-color: blue;
}
.submit-btn {
    /* background: linear-gradient(blue, red); */
    border: 1px solid black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
}
.submit-btn:hover {
    opacity: 0.8;

}