body{
    width: 100%;
    height: 97svh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 40%;
    height: 300px;
    background-image: url("atm.jpg");
    background-size: 100% 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 3px black;
}
.div1{
    width: 100%;
    height: 20%;
    /* background-color: red; */
    position: relative;

}
.div2{
    position: absolute;
    width: 35%;
    height: 100%;
    right: 30px;
    top: 15px;
}
.div3{
    width: 100%;
    height: 30%;
    /* background-color: blue; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.div4{
    position: absolute;
    width: 15%;
    height: 60%;
    left: 55px;
    top: 25px;
    border-radius: 10px;
}
.div5{
    position: absolute;
    color: white;
    right: 15px;
    top: 20px;
    font-size: 30px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;

}
.div6{
    position: absolute;
    color: whitesmoke;
    opacity: 0.7;
    right: 8px;
    bottom: 0px;
    font-size: 16px;

}
.div7{
    width: 100%;
    height: 25%;
    /* background-color: red; */
    font-size: 32px;
    color: white;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.abcd{
    width: 100%;
    height: 40%;
    /* background-color: pink; */
    display: flex;
    position: relative;
}
.div9{
    position: absolute;
    top: -6px;
    left: 210px;
    color: white;
    font-size: 15px;
}
.div10{
    position: absolute;
    bottom: 0;
    left: 210px;
    font-size: 15px;
    color: white;
}
.div11{
    position: absolute;
    right: 40px;
    top: -20px;
    bottom: px;
    color: white;
    font-size: 28px;
}
.div12{
    width: 100%;
    height: 60%;
    /* background-color: magenta; */
    display: flex;
    position: relative;

}
.div13{
    position: absolute;
    color: white;
    font-size: 30px;
    top: -25px;
    left: 50px;
}
.div14{
    width:40%;
    height: 35%;
    /* background-color: black; */
    position: relative;
    float: left;

}
.add1{
    width: 60%;
    height: 35%;
    /* background-color: blanchedalmond; */
    float: left;
}
.div15{
    width: 80%;
    height: 40%;
    position: absolute;
    top: 10px;
    left: 15px;
}
.div16{
    color: white;
    position: absolute;
    bottom: 3px;
    left: 80px;
    font-size: 23px;
}